:root {
  --Dark-Grey: #3c4453;
  --accent-Orange: #fd6900;
  --medium-grey: #949396;
  --medium-light-greay: #aba8b2;
  --light-grey: #c3c3c3;
}

.favourites-page {
  margin: 60px 0px 0px 200px;
  background-color: var(--light-grey);
  height: 100vh;
}

.title-sorting-container {
  width: calc(100vw - 200px);
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: var(--medium-grey);
  box-shadow: 2px 2px 6px 0px black;
}

.favourites-title {
  padding-left: 20px;
  color: var(--Dark-Grey);
}

.reset-play-counts-btn {
  border-radius: 20px;
  height: 40px;
  background-color: var(--accent-Orange);
  border: none;
  margin-right: 5px;
  /* border-bottom: 1px solid var(--Dark-Grey); */
  box-shadow: 2px 2px 6px 0px black;
  width: 160px;
}

.remove-all-favourites-btn {
  border-radius: 20px;
  height: 40px;
  background-color: var(--accent-Orange);
  border: none;
  box-shadow: 2px 2px 6px 0px black;
  /* border-bottom: 1px solid var(--Dark-Grey); */
  width: 160px;
}

.favourites-sorting-dropdown {
  border-radius: 20px;
  height: 40px;
  text-align: center;
  background-color: var(--accent-Orange);
  border: none;
  box-shadow: 2px 2px 6px 0px black;
  /* border-bottom: 1px solid var(--Dark-Grey); */
  width: 160px;
}

.favourite-episodes-list {
  padding: 10px 30px 20px 20px;
  margin-top: 10px;
  background-color: var(--light-grey);
}

.favourite-episode-inner-div {
  display: grid;
  grid-template-areas:
    "img eps epstitle play ."
    "img added showtitle fav .";

  grid-template-columns: 70px 90px 50fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  margin-bottom: 10px;
  box-shadow: 2px 2px 6px 0px black;
  line-height: 30px;
  background-color: var(--Dark-Grey);
  color: white;

  /* display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 400px;
  max-width: 1200px;
  gap: 10px; */
}

/* .title-grid-div{

} */

.favourites-img {
  width: 30px;
  height: 30px;
  grid-area: img;
}

/* .favourites-li {
  display: flex;
  gap: 10px;
  list-style: none;
} */

.eps-title-title {
  grid-area: epstitle;
}

.favourites-eps-title {
  grid-area: epstitle;
  margin: 0;
  overflow: hidden;
  text-wrap: nowrap;

  height: 100%;
  padding-left: 10px;
}

.show-title-title {
  grid-area: showtitle;
}

.favourite-show-title {
  grid-area: showtitle;
  margin: 0;
  overflow: hidden;
  text-wrap: nowrap;

  height: 100%;
  padding-left: 10px;
}

.favourite-episode {
  grid-area: eps;
  margin: 0;

  height: 100%;
  padding-left: 10px;
}

.added-title {
  grid-area: added;
}

.added-at {
  grid-area: added;

  height: 100%;
  margin: 0;
  padding-left: 10px;
  text-align: end;
}

.play-count-title {
  grid-area: playcount;
}

.play-count {
  grid-area: playcount;
  height: 100%;
  text-align: center;
}

.play-btn {
  grid-area: play;
  margin: 0;
  height: 100%;
  color: var(--light-grey) !important;
}

.remove-favourite-btn {
  border: none;
  background-color: transparent;
  color: gold;
  font-size: x-large;
  grid-area: fav;
  margin: 0;

  height: 100%;
}

@media screen and (min-width: 1300px) {
  .favourite-episode-inner-div {
    display: grid;
    grid-template-areas: "img fav play eps  showtitle  epstitle playcount added";

    grid-template-columns: 30px 50px 50px 90px 1fr 1fr 80px 200px;
    grid-template-rows: 30px;
  }
  .title-grid-div {
    display: grid;
    grid-template-areas: "img fav play eps  showtitle  epstitle playcount added";

    grid-template-columns: 30px 50px 50px 90px 1fr 1fr 80px 200px;
    grid-template-rows: 30px;
    margin-bottom: 20px;
    font-weight: 900;
  }
}

@media screen and (min-width: 800px) and (max-width: 1299px) {
  .favourite-episode-inner-div {
    display: grid;
    grid-template-areas: "img fav play eps  showtitle  epstitle playcount added";

    grid-template-columns: 30px 50px 50px 90px 1fr 1fr 80px 200px;
    grid-template-rows: 30px;
  }

  .title-grid-div {
    display: grid;
    grid-template-areas: "img fav play eps  showtitle  epstitle playcount added";

    grid-template-columns: 30px 50px 50px 90px 1fr 1fr 80px 200px;
    grid-template-rows: 30px;
    margin-bottom: 20px;
    font-weight: 900;
  }
}

@media screen and (min-width: 1024px) {
  .favourites-home-btn {
    display: none;
  }
  .favourites-mobile-buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 5px;
  }

  .favourites-sorting-dropdown {
    margin: 0;
  }
}

@media screen and (min-width: 601px) and (max-width: 1023px) {
}

@media screen and (min-width: 1023px) {
  .favourites-home-btn {
    display: none;
  }
}

@media screen and (min-width: 0px) and (max-width: 800px) {
  .title-sorting-container {
    width: 100vw;
    margin-top: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: var(--medium-grey);
    /* border-bottom: 1px solid var(--Dark-Grey); */
    box-shadow: 2px 2px 6px 0px black;
  }

  .favourites-page {
    margin: 0;
    background-color: var(--light-grey);
    height: 100%;
    width: 100vw;
  }

  .favourites-title {
    display: none;
  }
  .reset-play-counts-btn {
    height: 30px;
  }
  .remove-all-favourites-btn {
    height: 30px;
  }
  .favourites-sorting-dropdown {
    height: 30px;
  }

  .favourite-episode-inner-div {
    display: grid;
    grid-template-areas:
      ". img play eps showtitle showtitle"
      ". . fav added added  playcount";

    grid-template-columns: 10px 40px 30px 1fr 1fr 40px;
    grid-template-rows: 40px 40px;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 2px 2px 6px 0px black;
    line-height: 30px;
    line-height: 40px;
  }
  .favourites-eps-title {
    display: none;
  }

  .eps-title-title {
    display: none;
  }
  .added-title {
    display: none;
  }
  .play-count-title {
    display: none;
  }

  .show-title-title {
    display: none;
  }
  .favourites-home-btn {
    border-radius: 20px;
    height: 30px;
    background-color: var(--accent-Orange);
    border: none;
    margin-right: 5px;
    /* border-bottom: 1px solid var(--Dark-Grey); */
    width: 160px;
    box-shadow: 2px 2px 6px 0px black;
  }

  .favourites-mobile-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 5px;
    padding-left: 5px;
  }
  .favourites-sorting-dropdown {
    margin-right: 0;
  }
}

@media screen and (min-width: 601px) and (max-width: 1023px) {
  .favourites-page {
    margin: 0px;
    width: 100vw;
  }

  .title-sorting-container {
    width: 100vw;
  }

  .favourites-sorting-dropdown {
    margin-right: 0;
  }
  .favourites-mobile-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 5px;
    padding-left: 5px;
    padding-right: 20px;
  }
  .favourites-home-btn {
    border-radius: 20px;
    height: 30px;
    background-color: var(--accent-Orange);
    border: none;
    margin-right: 5px;
    /* border-bottom: 1px solid var(--Dark-Grey); */
    width: 160px;
    box-shadow: 2px 2px 6px 0px black;
  }
  .reset-play-counts-btn {
    height: 30px;
  }
  .remove-all-favourites-btn {
    height: 30px;
  }
  .favourites-sorting-dropdown {
    height: 30px;
  }
}

@media screen and (min-width: 801px) and (max-width: 975px) {
  .favourites-title {
    display: none;
  }

  .title-sorting-container {
    justify-content: end;
  }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
  .title-sorting-container {
    margin-top: 70px;
  }
}
