:root {
  --Dark-Grey: #3c4453;
  --accent-Orange: #fd6900;
  --medium-grey: #949396;
  --medium-light-greay: #aba8b2;
  --light-grey: #c3c3c3;
}

.individual-show-page {
  /* padding-top: 30px; */
  margin: 50px 0px 0px 200px;
  padding: 0px 20px 20px 0;
  background-color: var(--medium-light-greay);
  width: calc(100vw - 200px);
  height: auto;
  border-bottom: 1px solid var(--Dark-Grey);
}

.show-page-nav-div {
  background-color: var(--Dark-Grey);
  height: 160px;
  box-shadow: 2px 2px 6px 0px black;
}

.Show-page-home-favourites-btn {
  position: relative;
  z-index: 2;
  color: white;
  background-color: var(--accent-Orange);
  height: 40px;
  text-align: center;
  /* border-radius: 20px; */
  line-height: 22px;
  text-decoration: none;
  width: 100px;
  margin: 30px 0 0 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 6px 0px black;
  font-size: medium;
}

.Showpage-show-details-wrap {
  display: flex;
  gap: 20px;
  /* margin-bottom: 20px; */
  margin-top: 20px;
  align-items: center;

  padding: 20px;
  padding-right: 40px;
  box-shadow: 2px 2px 6px 0px black;
  height: auto;

  width: calc(100vw - 200px);
}

.img-description-vid {
  display: flex;
  gap: 20px;
}

/* img {
  width: 200px;
} */

.show-img-large {
  width: 150px;
  height: 150px;
}

.season-btn-div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 20px;
  height: 70px;
  box-shadow: 2px 2px 6px 0px black;
  height: auto;
  padding: 20px 20px 20px 20px;
  width: calc(100vw - 200px);
}

.season-btns {
  width: 100px;
  height: 40px;
  background-color: var(--Dark-Grey);
  color: white;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  box-shadow: 2px 2px 6px 0px black;
}

.season-btns-active {
  width: 100px;
  height: 40px;
  background-color: var(--accent-Orange);
  color: white;
  border-radius: 20px;
  text-align: center;
  line-height: 40px;
  text-decoration: none;
  box-shadow: 2px 2px 6px 0px black;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
  .individual-show-page {
    padding: 0;
    margin: 0px;
    width: 100vw;
  }

  .Show-page-home-favourites-btn {
    margin-top: 180px;
  }

  .Showpage-show-details-wrap {
    margin-top: 0px;
    padding-top: 70px;
    padding-right: 20px;
    width: 100%;
    padding-bottom: 20px;
  }

  .season-btn-div {
    display: flex;
    align-items: center;
    padding: 20px 0 20px 20px;
    width: 100%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1023px) {
  .individual-show-page {
    padding: 0;
    margin: 0px;
    width: 100vw;
  }
  .Show-page-home-favourites-btn {
    margin-top: 100px;
  }

  .Showpage-show-details-wrap {
    margin-top: 0px;
    padding-top: 20px;
    padding-right: 20px;
    height: auto;
    width: 100%;
    padding-bottom: 20px;
  }
  .season-btn-div {
    display: flex;
    align-items: center;
    padding: 20px 20px 20px 20px;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .Show-page-home-favourites-btn {
    display: none;
  }

  .show-page-nav-div {
    display: none;
  }

  .Showpage-show-details-wrap {
    padding-top: 50px;
  }
}
